@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Sarabun", sans-serif;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .font-orbit {
    font-family: "Orbit", sans-serif;
    font-weight: 800;
  }
  .animation-fade {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .vertical-text {
    writing-mode: vertical-rl;
  }
}

@layer utilities {
  section {
    @apply min-h-screen relative;
  }
  h1 {
    @apply text-2xl font-medium;
  }
  .fixed-top {
    @apply sticky top-0;
  }
}
