@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Sarabun", sans-serif;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  section {
    @apply relative py-24 min-h-screen space-y-10 containers;
  }
  h1 {
    @apply text-2xl font-medium;
  }
  .containers {
    @apply px-10 md:px-20 lg:px-40
  }
  a:hover {
    @apply opacity-80 duration-75 ease-in-out
  }
}

@layer components {
  .font-orbit {
    font-family: "Orbit", sans-serif;
    font-weight: 800;
  }
  .animation-fade {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .vertical-text {
    writing-mode: vertical-rl;
  }
  .fixed-top {
    @apply sticky top-0;
  }
  .hash {
    @apply font-bold text-orange-600 mr-1
  }
  .spin {
    transform: rotate(0deg);
    animation: spinnimate 3s infinite linear;
  }
  @keyframes spinnimate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
